
h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: .875rem;
  margin-top: 2.5rem;
  margin-bottom: 1.5rem;
  color: #6d6f71;
}

code   {
  background-color: #eee;
  border: 1px solid #999;
  display: block;
  padding: 20px;
}

.bold {
  font-weight: bold;
}

a {
	cursor: pointer;
}